.headerGame {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
  width: 550px;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fafafa;
  border-radius: 5px;
}

.headerGame-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.headerGame-img img {
  border-radius: 5px;
  width: 100px;
}

.headerGame-info h3 {
 font-size: 19px;
}

.headerGame-info h4 {
  font-weight: 900;
  margin-top: 5px;
}


